.post{
    display: flex;
    align-items: flex-start;
    border: 1px solid #555;
    border-radius: 12px;
    height: 200px;
}

.imgPost{
    width: 200px;
    height: 200px;
}

.titulo{
    margin: 6px;
}

.containerImg{
    background-color: red;
    height: 200px;
    width: 200px;
    margin-right: 1rem;
}
